body { 
    background-color: #151515;
    margin: 0;
}
* { 
    color: white;
}
header { 
    background-color: #202020;
    width: 100vw;
    display: inline-flex;
}
header h1 { 
    margin-left: 20px;
}
h2 { 
    text-align: center;
}
.sidebar { 
    display: block;
    z-index: 1001;
    position: relative;
    cursor: pointer;
    margin: 5px;
    max-height: 25px;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}
.nav {
    display: none;
    height: 100%;
    width: 60vw;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

.nav ul {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.nav * { 
    color: black;
}
.nav li { 
    margin: 10px; 
}
.nav a { 
    text-decoration: none;
}
.line-bottom { 
    height: 1px; 
    width: 40vw; 
    background-color: black; 
    margin-top: 20px;
}
.line-top { 
    height: 1px; 
    width: 40vw; 
    background-color: black; 
    margin-bottom: 20px;
}

.scene {
    width: 174.96px; 
    height: 174.96px; 
    perspective: 800px;
    margin-top: 75px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cube, .middle-cube, .inner-cube, .innermost-cube {
    position: relative;
    transform-style: preserve-3d;
}

.cube {
    width: 80%; 
    height: 80%; 
    animation: rotate-outer 5s linear infinite;
}

.middle-cube {
    width: 87.48px;
    height: 87.48px; 
    top: 43.77px; 
    left: 43.77px;
    animation: rotate-middle 5s linear infinite;
}

.inner-cube {
    width: 43.77px; 
    height: 43.77px; 
    top: 21.87px; 
    left: 21.87px; 
    animation: rotate-inner 5s linear infinite;
}

.innermost-cube {
    width: 21.87px; 
    height: 21.87px; 
    top: 10.935px; 
    left: 10.935px; 
}

.face, .middle-face, .inner-face, .innermost-face {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.face {
    width: 174.96px; 
    height: 174.96px; 
    background: rgba(34, 0, 255, 0.251);
    font-size: 20px;
    color: white;
}

.middle-face {
    width: 87.48px; 
    height: 87.48px; 
    background: rgba(255, 0, 255, 0.3);
}

.inner-face {
    width: 43.77px; 
    height: 43.77px; 
    background: rgba(234, 0, 255, 0.3);
}

.innermost-face {
    width: 21.87px; 
    height: 21.87px; 
    background: rgba(255, 0, 0, 1);
}

.front  { transform: rotateY(0deg) translateZ(87.48px); } 
.back   { transform: rotateY(180deg) translateZ(87.48px); } 
.right  { transform: rotateY(90deg) translateZ(87.48px); }
.left   { transform: rotateY(-90deg) translateZ(87.48px); } 
.top    { transform: rotateX(90deg) translateZ(87.48px); } 
.bottom { transform: rotateX(-90deg) translateZ(87.48px); } 

.middle-front  { transform: rotateY(0deg) translateZ(43.77px); } 
.middle-back   { transform: rotateY(180deg) translateZ(43.77px); } 
.middle-right  { transform: rotateY(90deg) translateZ(43.77px); } 
.middle-left   { transform: rotateY(-90deg) translateZ(43.77px); } 
.middle-top    { transform: rotateX(90deg) translateZ(43.77px); }
.middle-bottom { transform: rotateX(-90deg) translateZ(43.77px); } 

.inner-front  { transform: rotateY(0deg) translateZ(21.87px); } 
.inner-back   { transform: rotateY(180deg) translateZ(21.87px); }
.inner-right  { transform: rotateY(90deg) translateZ(21.87px); } 
.inner-left   { transform: rotateY(-90deg) translateZ(21.87px); } 
.inner-top    { transform: rotateX(90deg) translateZ(21.87px); } 
.inner-bottom { transform: rotateX(-90deg) translateZ(21.87px); } 

.innermost-front  { transform: rotateY(0deg) translateZ(10.935px); } 
.innermost-back   { transform: rotateY(180deg) translateZ(10.935px); } 
.innermost-right  { transform: rotateY(90deg) translateZ(10.935px); } 
.innermost-left   { transform: rotateY(-90deg) translateZ(10.935px); } 
.innermost-top    { transform: rotateX(90deg) translateZ(10.935px); } 
.innermost-bottom { transform: rotateX(-90deg) translateZ(10.935px); } 

@keyframes rotate-outer {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
}
@keyframes rotate-middle {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(-360deg) rotateY(720deg); }
}
@keyframes rotate-inner {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(720deg) rotateY(-360deg); }
}
@keyframes rotate-innermost {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    100% { transform: rotateX(-720deg) rotateY(-720deg); }
}

.scene:hover .cube > .face {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scene:hover .middle-cube > .middle-face {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scene:hover .inner-cube > .inner-face {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
.scene:hover .innermost-cube {
    animation: none;
  }  
  .scene:hover .innermost-cube {
    animation: rotate 1.5s linear infinite;
  } 
  @keyframes rotate {
    0% { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
  }