body { 
    background-color: #151515;
    margin: 0;
}
* { 
    color: white;
}
header { 
    background-color: #202020;
    width: 100vw;
    display: inline-flex;
}
header h1 { 
    margin-left: 20px;
}
h2 { 
    text-align: center;
}
.sidebar { 
    display: block;
    z-index: 1001;
    position: relative;
    cursor: pointer;
    margin: 5px;
    max-height: 25px;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
}
.nav {
    display: none;
    height: 100%;
    width: 60vw;
    position: absolute;
    z-index: 1000;
    background-color: white;
}

.nav ul {
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.nav * { 
    color: black;
}
.nav li { 
    margin: 10px; 
}
.nav a { 
    text-decoration: none;
}
.line-bottom { 
    height: 1px; 
    width: 40vw; 
    background-color: black; 
    margin-top: 20px;
}
.line-top { 
    height: 1px; 
    width: 40vw; 
    background-color: black; 
    margin-bottom: 20px;
}
.comp { 
    display: flex;
    align-items: center;
    margin: 10px;
}
.comp h4 { 
    margin-right: 3px;
    width: 70px;
}
.frontend, .frontendbis, .backend, .backendbis { 
    display: flex;
}
.competence1 { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.html { 
    width: 100px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.competence2 { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.css { 
    width: 95px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.competence3 { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.js { 
    width: 85px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.competence4 { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.node { 
    width: 60px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.competence5 { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.SQL{ 
    width: 20px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.competence5bis { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.NoSQL{ 
    width: 5px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.competence6 { 
    width: 100px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
}
.securité { 
    width: 70px; 
    height: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 255);
}
.card1, .card2 { 
    margin-top: 10px;
    border: 1px solid white;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 0.3);
    border-radius: 10px;
    text-align: center;
    background-color: #282828;
    margin-bottom: 20px;
}
article { 
    display: inline-flex;
}