body { 
    margin: 0;
}
* { 
    color: white;
}

p { 
    margin: 5px;
    line-height: 1.3;
} 
/* Header settings */
header { 
    background-color: #191919;
    width: 100vw;
    display: flex;
}
header h1 { 
    margin-left: 20px;
}
header svg { 
    width: 4.3vw;
    height: auto;
}


/* footer settings */ 

.footer {
  background-color: #151515;
  color: white;
  padding: 20px;
  margin-top: 200px;
}

.white--text {
  color: white !important;
}

.v-footer .v-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.v-btn {
  background-color: #002aff;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.v-btn:hover {
  background-color: #0022cf;
  cursor: pointer;
}

#triangle {
    height: 400px;
    width: 400px;
    padding-top: 30px;
    animation: triangle 4s both infinite;
  }

  @keyframes triangle {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .cls-1 {
    fill: #1e90ff; 
    animation: cls1 4s ease infinite both;
  }

  @keyframes cls1 {
    0% {
      fill: #1e90ff;
    }
    34% {
      fill: #00ffff; 
    }
    66% {
      fill: #9370db; 
    }
    100% {
      fill: #1e90ff;
    }
  }

  .cls-2 {
    fill: #00ffff; 
    animation: cls2 4s ease infinite both;
  }

  @keyframes cls2 {
    0% {
      fill: #00ffff;
    }
    34% {
      fill: #9370db; 
    }
    66% {
      fill: #1e90ff; 
    }
    100% {
      fill: #00ffff;
    }
  }

  .cls-3 {
    fill: #9370db; 
    animation: cls3 4s ease infinite both;
  }

  @keyframes cls3 {
    0% {
      fill: #9370db;
    }
    34% {
      fill: #1e90ff; 
    }
    66% {
      fill: #00ffff; 
    }
    100% {
      fill: #9370db;
    }
  }

  .cls-1, .cls-2, .cls-3 {
    stroke-width: 0px;
  }

  #notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
  }

  @media (max-width: 768px) { 

    #triangle { 
      display: none;
    }
    
    form { 
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
  }
