<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/health/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Health & fitness | dashboard</title>
</head>
<body>
  <header>
    <img width="100" height="100" src="https://img.icons8.com/ios/50/FFFFFF/pulse--v1.png" alt="pulse--v1"/>
    <h1>Health & fitness</h1>
  </header>
    <main id="app">
      <div class="container">
        <section v-if="calories" class="calories">
            <h3>Consommation journalière</h3>
            <hr>
            <article class="conso">
            <p class="daily-conso">{{ calories}} kcal/day</p>
            <article class="macro" v-if="glucides && lipides && proteines && fibres && sugar && sodium && cholesterol">
              <div>
                <h5>Glucides</h5>
              <p>{{ glucides }}g</p>
              </div>
              <div>
                <h5>Lipides</h5>
              <p>{{ lipides }}g</p>
              </div>
              <div>
                <h5>Protéines</h5>
              <p>{{ proteines }}g</p>
              </div>
            </article>
            </article>
            <h3>Régime cardiaque</h3>
            <article class="more-conso">
              <div class="more-glucides">
              <div>
                <h5>Sucres</h5>
                <p>{{Math.round(sugar)}}g</p>
              </div>
              <div>
                <h5>Fibres</h5>
                <p>{{ Math.round(fibres) }}g</p>
              </div>
              </div>
              <div class="more-lipides">
              <div>
                <h5>Sodium</h5>
                <p>{{sodium}}mg</p>
              </div>
              <div>
                <h5>Cholesterol</h5>
                <p>{{cholesterol}}mg</p>
              </div>
              </div>
            </article>
            </section>
            <section class="exercises">
              <h3 class="exercises-title">Exercices</h3>
          <article v-if="exercises.length > 0" class="card-exercises">
            <div v-for="(exercise, index) in exercises" :key="exercise.id" class="card" id="card-exercises" @click="showExercises(exercise)">
              <h3>{{ exercise.name }}</h3>
              <div class="sub-stats">
              <p class="target"><strong>Target :</strong> {{ exercise.target }}</p>
              <p><strong>Body part:</strong> {{ exercise.bodyPart }}</p>
              <p><strong>Équipment:</strong> {{ exercise.equipment }}</p>
              </div>
              </div>
          </article>        
          </section>
          <div v-if="selectedExercise" class="exercise-details">
            <h1 class="btn-exercise" @click="closeExerciseDetails">X</h1>
            <h2>{{ selectedExercise.name }}</h2>
            <p><strong>Target :</strong> {{ selectedExercise.target }}</p>
            <p><strong>Équipement :</strong> {{ selectedExercise.equipment }}</p>
            <p><strong>Instructions :</strong> <ul>
              <li>{{ selectedExercise.instructions[0] }}</li>
              <li>{{ selectedExercise.instructions[1] }}</li>
              <li>{{ selectedExercise.instructions[2] }}</li>
              <li>{{ selectedExercise.instructions[3] }}</li>
              <li>{{ selectedExercise.instructions[4] }}</li>
            </ul></p>
          </div>  
          <section class="formulaire">
            <form @submit.prevent="updateUserData">
              <article>
                <h3>Info nutritionnels</h3>
                <label for="sexe">Sexe</label>
        <select name="sexe" v-model="sexe">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
        </select>
                <label for="age">Age</label>
                <input type="text" name="age" v-model="age">
                <label for="taille">Taille</label>
                <input type="text" name="taille" v-model="taille">
                <label for="poids">Poids</label>
                <input type="text" name="poids" v-model="poids">
                <label for="activity">Activité</label>
                <select name="activity" v-model="activity">
                    <option value="Pas actif">Pas actif</option>
                    <option value="Peu actif">Peu actif</option>
                    <option value="Actif">Actif</option>
                    <option value="Très actif">Très actif</option>
                </select>
              </article>
              <article>
                <h3>Objectif</h3>
                <label for="objectif">Objectifs de poids</label>
                <select name="objectif" v-model="objectif">
                  <option value="0">Maintenir mon poids actuel</option>
                  <option value="0.5">perdre 0.5kg/semaine</option>
                  <option value="1">perdre 1kg/semaine</option>
                  <option value="1.5">gain de 0.5kg/semaine</option>
                  <option value="2">gain de 1kg/semaine</option> 
              </select>
              <button @click="changeGoal" type="submit" class="submit-form">Submit</button>
              </article>
            </form>
          </section>
          <section class="food">
            <h3>Recherchez un aliment</h3>
            <input type="search" v-model="searchQuery" @input="onInput" name="name" placeholder="Rechercher un aliment...">
  
  <div v-if="suggestions.length > 0">
    <ul>
      <li v-for="(suggestion, index) in suggestions" :key="index" class="food-suggestions">
        <div>
          <h4>{{ suggestion.label }}</h4>
          <img :src="suggestion.image" alt="image" v-if="suggestion.image">
          <p>Calories: {{suggestion.nutrients.ENERC_KCAL.toFixed(2) }} kcal</p>
          <p>Glucides: {{suggestion.nutrients.CHOCDF}}g</p>
          <p>Lipides : {{suggestion.nutrients.FAT}}g</p>
          <p>Protéines: {{suggestion.nutrients.PROCNT}}g</p>
        </div>
        <button @click="addToCalories">Ajouter</button>
      </li>
    </ul>
  </div>         
          </section>
          </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/health/health.js"></script>
</body>
</html>