/* Global settings */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }

  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/planisphere.png");
    background-size: cover;
    background-position: center;
    z-index: -1; 
  }

header { 
    display: flex;
    align-items: center;
}

header h1 { 
    margin-left: 10px;
}

* { 
    color: white;
}

svg { 
    width: 50px;
    height: 50px;
} 

/* Loading settings */

.load {
  position: absolute;
width: 100px;
height: 100px;
border: 3px solid #32CD32;
border-radius: 50%;
border-top-color: #aeffa8;
animation: spin 1s ease-in-out infinite;
  right: 45%;
  left: 45%;
  top: 45%;
  bottom: 45%;
}

/* data settings */

  .data-ip {
    border: 1px solid white;
    border-radius: 10px;
    margin: 25px;
    width: 45vw;
    height: 25vw;
    display: inline-flex;
    flex-direction: column;
    background-color:  #181818;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 0.9;
    line-height: 1.1;
  }

  .covid { 
    border: 1px solid white;
    border-radius: 10px;
    margin: 25px;
    width: 45vw;
    height: 25vw;
    display: inline-flex;
    flex-direction: column;
    background-color:  #181818;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    opacity: 0.9;
    line-height: 1.5;
  }

  .data-ip h1, p { 
    margin: 10px;
  }

  .covid-text h1, p { 
    margin: 10px;
  }

  .stats {
    background-color: #181818;
    border: 1px solid white;
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    width: 25%;
    height: 25vw;
    margin: 20px auto; 
    opacity: 0.9;
  }
  
  .stats h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .stats:hover {
    animation: pulse 1s infinite;
  }

  .data-ip-container:hover { 
    animation: pulse 1s infinite;
  }

  .covid:hover { 
    animation: pulse 1s infinite;
  }

  .stats2 { 
    display: flex;
  }

  .population {
    width: auto;
    margin-bottom: 20px;
    text-align: center; 
    height: auto;
    background-color: #181818; 
    border-radius: 10px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px 20px;
  }
  
  .population h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .population p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #28a745;
  }
  
  .rate {
    display: flex;
    justify-content: space-around; 
  }
  
  .births, .deaths {
    background-color: #181818; 
    border-radius: 10px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    padding: 15px 20px;
    text-align: center;
    height: auto;
  }
  
  .births h4, .deaths h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .births p, .deaths p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
  }
  
  .births p {
    color: #28a745;
  }
  
  .deaths p {
    color: #dc3545;
  }

  /* Animations */

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.01); }
    100% { transform: scale(1); }
  }
  
  /* Media queries */
/* Media queries */

@media screen and (max-width: 768px) {

  #app > div {
      display: flex;
      flex-direction: column; /* Permet d'empiler les sections verticalement */
      align-items: center; /* Centrage horizontal des éléments */
  }

  .stats2 {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 10px;
  }

  .data-ip, .stats {
      width: 90%; /* Largeur ajustée pour le mobile */
      max-width: 400px; 
      text-align: center;
      margin: 20px auto; 
      height: auto;
  }

  .data-ip {
      height: auto; 
      padding: 10px;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
  }

  .data-ip h1 {
      font-size: 1.2rem;
      margin-bottom: 15px;
  }

  .covid { 
    height: auto; 
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 75vw;
  }

  .stats {
      text-align: center;
      padding: 5px;
      height: auto;
  }

  .stats h2 {
      font-size: 1rem;
      margin-bottom: 10px;
  }

  .population {
      margin-bottom: 10px;
      padding: 10px 15px;
      text-align: center;
  }

  .population h4, .births h4, .deaths h4 {
      font-size: 0.9rem;
      margin-bottom: 5px;
  }

  .population p, .births p, .deaths p {
      font-size: 1rem;
      font-weight: bold;
  }

  .rate {
      display: flex;
      justify-content: center;
      gap: 20px;
  }

  .births, .deaths {
      background-color: #181818;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      padding: 10px 15px;
      text-align: center;
      max-width: 160px;
  }

}
